body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    margin: 0px;
    font: 20px Arial;
    cursor: pointer;
    align-items: center;
    color: #000000dd;
    box-shadow: 0 10px 20px rgba(255, 138, 230, 0.333);
    background-color: rgba(251, 251, 251, 0.581);
    height: 70px;
    justify-content: space-between;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
}

.header:hover {
    box-shadow: 0 20px 40px rgba(255, 138, 230, 0.4);
}

.header-link {
    text-decoration: none;
    color: inherit;
}

.header-link:hover {
    text-decoration: underline;
}

#logo {
    width: 10vw;
}

.items-container {
    display: flex;
    gap: 50px;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icones {
    display: flex;
    gap: 50px;
    margin-right: 50px;
    align-items: center;
}

#inicio:hover {
    color: rgba(98, 98, 98, 0.633);
}

#contato:hover {
    color: rgba(98, 98, 98, 0.633);
}

#sobre:hover {
    color: rgba(133, 133, 133, 0.633);
}

#produtos:hover {
    color: rgba(133, 133, 133, 0.633);
}

#logowhats {
    width: 45px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.852);
    color: white;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: sans-serif;
}

.footer1 {
    margin-left: 15vw;
    margin-top: 5vw;
}

.footer-meio {
    margin-top: 5vw;
}

.footer2 {
    margin-right: 15vw;
    margin-top: 5vw;
}

.sublinhado{
    background-image: linear-gradient(90deg, rgb(230, 254, 95),rgb(255, 0, 174));
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: left bottom;
    transition: background-size 500ms ease;
    cursor:pointer;
    text-decoration:none;
    display: flex;
    flex-direction: column;
  }
  
  .sublinhado:hover{
    background-size: 100% 3px;
  }

  .container-sociais {
    display: flex;
    margin-top: 35%;
    justify-content: space-between;
  }

 
